.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
  background: white;
  padding: 1rem;
}

.formContainer button {
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* Styles form form element to display in a 2 column layout */
.form2Col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 512px;
}

.form2Col label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mainHeading {
  color: white;
}
