body {
  background-color: rgb(29, 83, 159);
}

.App {
  text-align: center;
  color: white;
}

.resumeSection {
  background-color: white;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  color: black;
}

.resumeSection p {
  font-style: italic;
}

button,
.btn {
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(248 185 42);
  border-color: black;
}

.btn {
  display: inline-block;
  color: black;
  text-decoration: none;
  border-style: outset;
  border-width: 2px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
  background: white;
  padding: 1rem;
}

.form-container button {
  align-self: flex-start;
}

/* Styles form form element to display in a 2 column layout */
.form-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 512px;
}

.form-2-col label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Wrap each page in this class to setup padding and max width */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.container > h1 {
  color: white;
}
