body {
  background-color: rgb(29, 83, 159);
}

.App {
  text-align: center;
  color: white;
}

.resumeSection {
  background-color: white;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  color: black;
}

.resumeSection p {
  font-style: italic;
}

button,
.btn {
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(248 185 42);
  border-color: black;
}

.btn {
  display: inline-block;
  color: black;
  text-decoration: none;
  border-style: outset;
  border-width: 2px;
}

/* Wrap each page in this class to setup padding and max width */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}
